<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>AgroSostenible S.A.</title>
</head>
<body>
    <div class="encabezado">
        <h3>AgroSostenible S.A.</h3>
        <h4>Innovación y sostenibilidad para un futuro más verde</h4>   
        <p>Sector: Agricultura (producción primaria)</p>
        <p>AgroSostenible S.A. es una empresa líder en la producción de alimentos orgánicos de alta calidad. Sus actividades principales incluyen el cultivo de frutas, vegetales y cereales mediante prácticas agrícolas sostenibles, el uso de tecnologías limpias como la energía solar y la promoción de programas de desarrollo comunitario para fortalecer la agricultura local. </p>
        <p> Misión: Cultivar alimentos saludables de manera sostenible, utilizando prácticas agrícolas innovadoras que respeten el medio ambiente y promuevan el desarrollo de las comunidades rurales.</p>
        <p>Visión: Convertirse en líder en la producción de alimentos orgánicos de alta calidad, marcando un estándar global en sostenibilidad y responsabilidad social.</p>
    </div>
    <div class="proyecto">
        <h3>Proyectos</h3>
        <h4>Huella Verde: Agricultura Regenerativa para el Futuro</h4>
        <p>Este proyecto se centra en la implementación de técnicas de agricultura regenerativa para recuperar suelos degradados, aumentar la biodiversidad y reducir emisiones de carbono. Incluye la rotación de cultivos, el uso de compost orgánico y la plantación de árboles frutales como barreras naturales contra la erosión. El objetivo es que el 50% de las tierras de cultivo estén regeneradas para 2030.</p>
        <img src="{{ url_for('static', filename='image2.png') }}"></img>
        <h4>SolarAgro: Energía Limpia para una Agricultura Sostenible</h4>
        <p>En este proyecto, AgroSostenible ha instalado más de 300 paneles solares en sus principales plantaciones. Estos paneles no solo abastecen el sistema de riego automatizado, sino que también alimentan almacenes de almacenamiento refrigerado para productos frescos. Esto ha permitido reducir la dependencia de combustibles fósiles en un 70%.</p>
        <img src="{{ url_for('static', filename='image1.png') }}"></img>
        <h4>Cultiva Consciencia: Programa de Educación Agrícola Comunitaria</h4>
        <p>Un programa educativo que busca empoderar a agricultores locales con conocimientos sobre prácticas agrícolas sostenibles, gestión de recursos hídricos y acceso a mercados internacionales. Desde su inicio, más de 500 agricultores han recibido capacitación, logrando una mejora significativa en su calidad de vida y productividad.</p>
        <img src="{{ url_for('static', filename='image3.png') }}"></img>
    </div>
    <div class="contacto">
        <h3>Contacto</h3>
        <h4>Gael Andrés García García</h4>
        <p>Número:</p>
        <p>8186860775</p>
        <p>Correo:</p>
        <p>AL02960857@tecmilenio.mx</p>    
    </div>
    <div class="pie">
        <h4>Síguenos en nuestras redes sociales:</h4>
        <a href="https://facebook.com">Facebook</a>
        <br></br>
        <a href="https://instagram.com">Instagram</a>
        <br></br>
        <a href="https://twitter.com">Twitter</a>
        <br></br>
        <p>© 2025 AgroSostenible S.A. Todos los derechos reservados.</p>
    </div>
</body>
</html>